<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.AttendanceMapper">
    <select id="query" resultType="map">
        select * from attendance
        <where>
            <if test="#{name}!=null">
                and name like concat('%',#{name},'%')
            </if>
            and to_days(clockTime) = to_days(now()) order by clockTime desc
        </where>
    </select>

    <select id="queryW" resultType="map">
        select * from attendance
        <where>
            <if test="#{name}!=null">
                and name like concat('%',#{name},'%')
            </if>
            <![CDATA[ and date_sub(curdate(), interval 7 day) <= clockTime ]]>
            order by clockTime desc
        </where>
    </select>

    <select id="queryM" resultType="map">
        select * from attendance
        <where>
            <if test="#{name}!=null">
                and name like concat('%',#{name},'%')
            </if>
            <![CDATA[ and date_sub(curdate(), interval 30 day) <= clockTime ]]>
            order by clockTime desc
        </where>
    </select>

    <select id="queryA" resultType="map">
        select * from attendance
        <where>
            <if test="#{name}!=null">
                and name like concat('%',#{name},'%')
            </if>
            order by clockTime desc
        </where>
    </select>
</mapper>