<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.LogInfoMapper">
    <select id="query" resultType="map">
        select * from loginfo
        <where>
            <if test="#{logName}!=null">
                and logName like concat('%',#{logName},'%')
            </if>
            order by id
        </where>
    </select>


</mapper>