<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排班信息列表</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/moment.js"></script>
</head>
<body>
<div id="app">
    <!--排班信息列表-->
    <template>
        <el-row>
            <!--            <el-col :span="3">&nbsp;</el-col>-->
            <el-col :span="3">
                <el-button type="danger" size="mini" @click="delBtn()">多选删除</el-button>
            </el-col>
            <el-col :span="3">
                <el-input v-model="search" size="mini" placeholder="请输入查询名称"></el-input>
            </el-col>
            <!--            <el-col :span="3">-->
            <!--                <el-input v-model="email" size="mini" placeholder="邮箱"></el-input>-->
            <!--            </el-col>-->
            <!--            <el-col :span="3">-->
            <!--                <el-input v-model="phoneNumber" size="mini" placeholder="电话"></el-input>-->
            <!--            </el-col>-->
            <el-col :span="3">
                <el-button type="primary" size="mini" @click="onSearch" icon="el-icon-search">搜索</el-button>
            </el-col>
            <el-col :span="3">
                <el-button type="primary" size="mini" @click="showDialog(arrangeForm)" icon="el-icon-circle-plus">添加
                </el-button>
            </el-col>
            <el-col :span="3">
                <el-button type="primary" size="mini" @click="flush()" icon="el-icon-search">刷新</el-button>
            </el-col>
        </el-row>
    </template>


    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="id"
                    label="序号">
            </el-table-column>
            <el-table-column
                    prop="driverName"
                    label="司机姓名">
            </el-table-column>
            <el-table-column
                    prop="startTime"
                    :formatter="dateFormat"
                    label="开始时间">
            </el-table-column>
            <el-table-column
                    prop="endTime"
                    :formatter="dateFormat"
                    label="结束时间">
            </el-table-column>
            <el-table-column
                    prop="role_name"
                    label="角色信息">
            </el-table-column>
            <el-table-column
                    prop="user_name"
                    label="操作人员">
            </el-table-column>

            <el-table-column
                    fixed="right"
                    label="操作"
                    width="200">
                <template slot-scope="scope">
                    <el-button type="text" @click="showEditDialog(scope.row)" size="small">编辑</el-button>
                    <el-button type="text" @click="deleteInfo(scope.row.id)" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--相关配置-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageInfo.currentPage"
            :page-sizes="pageInfo.pageSizes"
            :page-size="pageInfo.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pageInfo.total">
    </el-pagination>
    <!--模态框-->
    <el-dialog
            title="操作排班信息"
            :visible.sync="dialogVisible"
            width="40%"
            :before-close="handleClose">
        <el-form :model="arrangeForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-rulesForm">
            <el-form-item label="编号" prop="id" style="display: none">
                <el-input v-model="arrangeForm.id" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="司机信息" prop="userId">
                <el-select v-model="arrangeForm.userId" filterable placeholder="请选择司机人员">
                    <el-option v-for="item in driverList"
                               :key="item.driverId"
                               :label="item.driverName"
                               :value="item.driverId"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="开始时间" prop="startTime">
                <el-col :span="11">
                    <el-date-picker type="datetime" placeholder="选择日期" v-model="arrangeForm.startTime"
                                    style="width: 100%;"></el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="结束时间" prop="endTime">
                <el-col :span="11">
                    <el-date-picker type="datetime" placeholder="选择日期" v-model="arrangeForm.endTime"
                                    style="width: 100%;"></el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="角色信息" prop="role_name">
                <el-input v-model="arrangeForm.roleId" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="操作人员" prop="user_name">
                <el-input v-model="arrangeForm.staffId" :disabled="true"></el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="submitForm('ruleForm')">提 交</el-button>
        <el-button @click="resetForm('ruleForm')">重 置</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script>

    //定义验证规则
    const rules = {
        userId: [
            {required: true, message: '请选择司机', trigger: 'change'}
        ],
        startTime: [
            {required: true, message: '请选择开始时间', trigger: 'change'}
        ],
        endTime: [
            {required: true, message: '请选择结束时间', trigger: 'change'}
        ]
    };

    new Vue({
        el: app,
        data: {
            //表格中要显示的数据集合，需要先声明
            tableData: [],
            driverList: [],
            //存放选中的数据集合
            multipleSelection: [],
            //要查找的关键字
            search: '',
            pageInfo: {
                //分页相关数据
                currentPage: 1,
                //一组页码的条数
                pageSizes: [5, 10, 15],
                //每页显示的条数
                pageSize: 5,
                //总条数
                total: 0
            },
            //控制对话框隐藏显示
            dialogVisible: false,
            //表单中绑定的排班信息数据
            arrangeForm: {},
            //指定验证规则
            rules: rules

        },
        mounted: function () {
            //调用函数加载数据
            this.initData(1, this.pageInfo.pageSize);
            this.initDriverList();
        },
        methods: {
            //初始化数据（加载数据）
            initData: function (currentPage, pageSize) {
                axios.get("/arrange/query", {
                    params: {
                        currentPage: currentPage,
                        pageSize: pageSize,
                        search: this.search
                    }
                }).then((response) => {
                    //后台响应的数据对应的属性是：data属性
                    this.tableData = response.data.list;
                    //总条数赋值
                    this.pageInfo.total = response.data.total;
                    //当前页码赋值
                    this.pageInfo.currentPage = response.data.pageNum;
                }).catch((error) => {
                    console.log(error);
                });
            },

            initDriverList: function () {
                axios.get("/driver/queryAll").then((response) => {
                    this.driverList = response.data;
                }).catch((error) => {
                    console.log(error);
                });
            },
            //按名字搜索初始化加载数据
            onSearch: function () {
                this.initData(1, this.pageInfo.pageSize);
            },
            //选中项改变时触发函数
            handleSelectionChange: function (val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection);
            },

            //批量删除
            delBtn: function () {
                var Ids = this.multipleSelection;
                for (let i = 0; i < Ids.length; i++) {
                    this.deleteInfo(Ids[i].id);
                }
            },
            //显示条数发生改变时出发的函数
            handleSizeChange: function (val) {
                //每页条数发生改变时默认加载第一页的数据
                this.initData(1, val);
                //重新制定每页条数
                this.pageInfo.pageSize = val;
            },
            //当前页码改变时触发的函数
            handleCurrentChange: function (val) {
                //重新加载数据
                this.initData(val, this.pageInfo.pageSize);
                //修改当前页码的值
                this.pageInfo.currentPage = val;
            },
            //新增显示模态框
            showDialog: function () {
                this.resetForm('ruleForm');
                this.dialogVisible = true;
            },
            //删除信息
            deleteInfo: function (id) {
                axios.delete('/arrange/delete', {
                    params: {
                        id: id
                    }
                }).then((result) => {
                    let count = result.data;
                    if (count > 0) {
                        this.$message({
                            message: '恭喜您，删除成功！！',
                            type: 'success'
                        });
                        this.dialogVisible = false;
                        this.initData(1, this.pageInfo.pageSize);
                    } else {
                        this.$message.error('抱歉，删除失败');
                    }
                }).catch((error) => {
                    console.log("错误：" + error);
                });
            },
            //提交表单
            submitForm: function (formName) {
                this.$refs[formName].validate((id) => {
                    if (id) {
                        console.log(JSON.stringify(this.arrangeForm));
                        axios.post('/arrange/addOrUpdate', this.arrangeForm).then((result) => {
                            let count = result.data;
                            if (count > 0) {
                                this.$message({
                                    message: '恭喜您，操作成功！！',
                                    type: 'success'
                                });
                                this.dialogVisible = false;
                                this.initData(1, this.pageInfo.pageSize);
                            } else {
                                this.$message.error('抱歉，操作失败');
                            }
                        }).catch((error) => {
                            console.log("错误：" + error);
                        });
                    } else {
                        console.log('错了鸭兄弟！');
                        return false;
                    }
                });
            },
            //重置表单
            resetForm(formName) {
                if (this.$refs[formName] !== undefined) {
                    this.$refs[formName].resetFields();
                }
            },
            //编辑排班信息时
            showEditDialog: function (rowData) {
                this.arrangeForm = rowData;
                this.dialogVisible = true;
            },
            //关闭模态框时
            handleClose: function (done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },

            //日期转换
            dateFormat: function (row, column) {
                var date = row[column.property];
                if (date == undefined) {
                    return ''
                }
                return moment(date).format("YYYY-MM-DD HH:mm:ss")
            },
            flush() {
                location.reload();
            },
        }
    })
</script>
</html>
